<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="../../assets/img/logo.png" height=30 width=100></span>
    <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
    <span class="example-spacer"></span>

    <div class="example-container">
      <mat-form-field>
        <mat-select placeholder="seleccione la categoria" (selectionChange)="mostrarCategorias(categoria.value)"
                    #categoria>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria">
            {{ categoria }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span class="espacio-boton"></span>
    <input class="mat-raised-button" type="text" placeholder="Buscar equipo"
           (keyup.enter)="buscarEquipo(buscarTexto.value)" #buscarTexto/>
    <span class="espacio-boton"></span>
    <button (click)="buscarEquipo(buscarTexto.value)" mat-raised-button color="accent" type="button">Buscar</button>

  </mat-toolbar-row>
</mat-toolbar>
