<mat-toolbar color="primary">
  <span><img src="../../assets/img/logo.png" height=30 width=100></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <span class="flex-spacer"></span>
</mat-toolbar>

<div class="container jumbotron" fxLayout="column" fxLayoutAlign="start center">
  <div fxFlex fxFlex.xl="20px">
    <h1>Tienda Online Maquinas Pesadas y Agricolas</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items
      will tickle your safety vision!</p>
  </div>
</div>
